<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: process.env.SITE_TITLE || 'The Blacklist' , includeStructuredData: true, pageUrl:
  process.env.APP_URL || 'http://localhost:3006' }) %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
    integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <body class="home">


    <div class="wrapper">
      <div class="items">
        <div class="item" itemscope itemtype="https://schema.org/ImageObject">
          <picture>
            <img src="<%= process.env.POSTER_IMAGE_PATH || '/assets/images/posters/1.jpg' %>"
              alt="<%= process.env.SITE_TITLE || 'The Blacklist' %>" itemprop="contentUrl">
          </picture>
          <meta itemprop="url" content="<%= process.env.POSTER_IMAGE_PATH || '/assets/images/posters/1.jpg' %>">
          <meta itemprop="caption" content="<%= process.env.SITE_TITLE || 'The Blacklist' %> Poster">
        </div>
      </div>
      <div class="overlay">
        <h1 class="title" data-text="<%= process.env.SITE_TITLE || 'The Blacklist' %>">
          <a class="link" href="/the-blacklist" id="main-title">
            <span data-text="<%= (process.env.SITE_TITLE || 'The Blacklist').toUpperCase() %>">
              <%= (process.env.SITE_TITLE || 'The Blacklist' ).toUpperCase() %>
            </span>
          </a>
        </h1>
      </div>
    </div>
    <script src="/assets/js/gsap/script.js"></script>
  </body>

</html>